<div class="fashion">
    <div class="fashion__container">
        <div class="fashion__header">
            <h3 class="fashion__title">Fashion News!</h3>
            <div class="fashion__nav">
                <a class="fashion__link" href="#">Roupas</a>
                <a class="fashion__link" href="#">Sapatos</a>
                <a class="fashion__link" href="#">Vestido</a>
            </div>
        </div>
        <div class="fashion__main">
            <a href="#" class="fashion__link-banner">
                <img class="fashion__img" src="@img(vitrine-01)" alt="" />
            </a>
            <a href="#" class="fashion__link-banner">
                <img class="fashion__img" src="@img(vitrine-02)" alt="" />
            </a>
            <a href="#" class="fashion__link-banner">
                <img class="fashion__img" src="@img(vitrine-03)" alt="" />
            </a>
        </div>
    </div>
</div>
