<div class="instagram">
    <div class="instagram__container">
        <div class="instagram__header">
            <h3 class="instagram__title">Razões para amar</h3>
        </div>
        <div class="instagram__main">
            <h4 class="instagram__description">
                <svg><use xlink:href="#z-instagram" /></svg>
                <span>Instagram</span>
            </h4>
            <div class="instagram__list">
                <a href=""><img src="https://fakeimg.pl/310/" alt=""/></a>
                <a href=""><img src="https://fakeimg.pl/310/" alt=""/></a>
                <a href=""><img src="https://fakeimg.pl/310/" alt=""/></a>
                <a href=""><img src="https://fakeimg.pl/310/" alt=""/></a>
            </div>
        </div>
    </div>
</div>
