<div class="showcase">
    <div class="showcase__container">
        <div class="showcase__main">
            <div class="showcase__item">
                <div class="showcase__img">
                    <img src="@img(mulher-01)" />
                </div>
                <div class="showcase__name">LimeLight LIVE</div>
                <div class="showcase__description">
                    Dicas de moda e lifestyle na nossa plataforma de conteúdo!
                </div>
                <a href="#" class="showcase__link">Ver Videos</a>
            </div>
            <div class="showcase__item">
                <div class="showcase__img">
                    <img src="@img(mulher-02)" />
                </div>
                <div class="showcase__name">GUIDE SHOPS</div>
                <div class="showcase__description">
                    Encontre o endereço mais próximo de você.
                </div>
                <a href="#" class="showcase__link">Representantes</a>
            </div>
            <div class="showcase__item">
                <div class="showcase__img">
                    <img src="@img(mulher-03)" />
                </div>
                <div class="showcase__name">SHOP INSTA</div>
                <div class="showcase__description">
                    Nosso feed no Instagram, para você curtir e comprar.
                </div>
                <a href="#" class="showcase__link">Instagram</a>
            </div>
        </div>
    </div>
</div>
