<div class="videos">
    <div class="videos__container">
        <div class="videos__play-1">
            <img src="@img(video-01)" alt="" />
        </div>
        <div class="videos__item">
            <div class="videos__row">
                <div class="videos__play-2">
                    <img src="@img(video-02)" alt="" />
                </div>
                <div class="videos__content">
                    <h3 class="videos__title">Videos</h3>
                    <h4 class="videos__description">
                        2019 Verão Coleção
                    </h4>
                    <div class="videos__text">
                        Atualize seu guarda-roupa com as últimas roupas, sapatos
                        e acessórios para mulheres.
                    </div>
                    <a href="#" class="videos__link">Saiba mais</a>
                </div>
            </div>
            <div class="videos__row">
                <img src="@img(video-03)" alt="" />
            </div>
        </div>
    </div>
</div>
