<div class="prod__img">
    @fotos @selos
</div>
<div class="prod__shop">
    <div class="col">
        <div class="prod__name">
            <h1>@nome</h1>
        </div>

        @if(is_disponivel) @preco @compartilhar @else(is_disponivel)
        <div class="prod__esgotado">
            <div class="title title--sm">Produto Esgotado</div>
            @alertas
        </div>
        @endif(is_disponivel) @variacoes @bt(sobconsulta "Sob Consulta")
        @temporizador @if(is_disponivel) @bt(comprar) @endif(is_disponivel)
    </div>
</div>
