#banner__home_banner_full
    margin-top: -16px

.banner
    img
        width: 100%
        object-fit: contain

#banner__banner-home
    margin: 50px 0

#banner__banner-footer
    max-width: viewport
    margin: 50px auto