@media (max-width: 992px)
    .categories
        &__show
            background: #fff
            color: color1_bg

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                min-height: 48px
                justify-content: flex-start
                align-items: center

            &:after
                icon('\f054')
                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                font-size: 20px
                background: rgba(255, 255, 255, 0.1)
                transition: all 0.2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

@media (min-width: 993px)
    .categories
        position: relative
        z-index: 30
        background: #fff

        &__all
            display: none

        .a--0
            font-size: 16px
            font-weight: light
            text-transform: uppercase
            color: color1_bg

        .a--1
            font-size: 13px
            font-weight: medium
            color: #000

        .a--2
            font-size: 13px
            font-weight: regular
            color: #666666

        .ul--0
            justify-content: center
            max-width: viewport

        .li--0
            flex: 0 0 auto
            position: static

            &:hover .a--0
                background: none
                color: color1_bg

        .box--1
            width: 100%
            box-shadow: 800px 0 0 #fff, -800px 0 0 #fff

        &__products, &__block
            border-left: 0