.guide-shops
    display: none
    font-size: 16px
    font-weight: light
    text-transform: uppercase
    align-self: flex-end

@media (min-width: 993px)
    .guide-shops
        display: flex
        justify-content: flex-start
        align-items: center
        flex: 0 0 300px