.logo
    .header &
        img, svg
            height: 48px

@media (min-width: 993px)
    .logo
        flex: 1
        min-width: 0
        text-align: center

        a
            display: inline-block

        .header &
            img, svg
                height: 86px