.products
    &__case
        box-shadow: none

.product
    &__name
        font-size: 16px
        font-weight: regular
        color: #000

    &__main
        .regular-price
            .label
                display: none

            .price span
                font-size: 20px
                font-weight: medium
                color: #666666

        .configurable-swatch-list
            img
                width: 15px
                height: 15px
                border-radius: 50%

            a
                box-shadow: none