.toolbar
    justify-content: flex-end

    .amount, .view-mode, .limiter, .sort-by label
        display: none

    .sort-by, .sorter
        margin-left: 0

    .sort-by select
        margin-left: 10px
